#twitterButton {
    vertical-align: middle;

    position: relative;
    top: 50%;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    width: 32px;
    height: 32px;
}

.page-header {
    margin-top: 10px;
}

#commentsDiv {
    height: 70%;
}

section {
    width: 30%;
}

body {
    padding-top: 70px;
}