<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 3, from LayoutIt!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/common.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/stomp.js"></script>
    <script src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
    <script type="text/javascript" src="/static/js/subscribetweets.js"></script>
    </meta>
</head>

<body>

<div th:include="menu :: menu"></div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Event   <small th:text="'#' + ${event.hashtag}" ></small>
                </h1>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <h3 th:text="${event.name}"></h3>
                    <p th:text="${event.description}"></p>
                </div>

                <div class="col-md-1 column"></div>

                <div class="col-md-6 column">

                    <div id="addCommentDiv">
                        <h3>Tweet your comment</h3>
                        <form method="post" th:action="'/event/' + ${event.id} + '/tweet'">
                            <div class="form-group">
                                <div class="">
                                    <textarea class="form-control" cols="20" name="tweetText" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><img src="/static/img/twitter.png" width="16" height="16"/></span>
                                <button type="submit" class="form-control" aria-describedby="basic-addon1">Tweet</button>
                            </div>
                        </form>
                    </div>

                    <br/>
                    <br/>

                    <div id="commentsDiv">
                        <div th:each="tweet : ${tweets}">
                            <blockquote>
                                <p th:text="${tweet.text}"></p>
                                <small th:text="'@' + ${tweet.username}"></small>
                            </blockquote>
                        </div>
                    </div>

                </div>
                <div class="col-md-1 column"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
