<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 3, from LayoutIt!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/common.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/stomp.js"></script>
    <script src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
    <script type="text/javascript" src="/static/js/subscribeevents.js"></script>
    </meta>
</head>

<body>



<div th:include="menu :: menu"></div>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Events
                    <small>Browse and create events if you are creator</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-7 column">
            <h3>Recent events</h3>

            <div id="eventsDiv" th:each="event : ${events}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 th:text="${event.name}"></h3>
                        <small th:text="'#' + ${event.hashtag}"></small>
                    </div>
                    <div class="panel-body" th:with="words=${#strings.listSplit(event.description, ' ')}">
                        <div th:if="${words.size()} &lt; 11">
                            <p th:text="${#strings.listJoin(words, ' ')}"></p>
                        </div>
                        <div th:if="${words.size()} &gt; 10">
                            <p th:text="${#strings.listJoin(words.subList(0, 10), ' ') + '...'}"></p>
                        </div>
                        <a th:href="@{'/event/' + ${event.id}}">See more</a>
                    </div>
                </div>
            </div>
        </div>

        <!---->
        <div sec:authorize="hasRole('ROLE_CREATOR')">
            <div class="col-md-5 column">
                <h3>
                    Add new event
                </h3>

                <form method="post" action="/event/add">

                    <div class="form-group">
                        <label for="EventNameInput">Event name</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="nameAddon">$</span>
                            <input class="form-control" id="EventNameInput" type="text" aria-describedby="nameAddon" name="name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="eventHashtagInput">Event hashtag</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="hashtagAddon">#</span>
                            <input class="form-control" id="eventHashtagInput" type="text" aria-describedby="hashtagAddon" name="hashtag"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Description">Description</label>
                        <div class="">
                            <textarea class="form-control" cols="20" id="Description" name="description" rows="4"></textarea>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-large">Create</button>

                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>
